<div class="grid grid-cols-12 gap-x-4 p-4 lg:p-20">
    <!-- hero -->
    <section class="card col-span-12 lg:col-span-8 text-left mb-5">
        <h1 class="text-white text-8xl md:text-8xl lg:text-8xl xl:text-8xl mb-5">Power Your Group with
            <strong>Harbinger</strong>
        </h1>
        <p class="text-white text-2xl md:w-2/3 lg:w-auto max-w-[700px] mb-2">
            A powerful, open-source tool for ROBLOX group owners to efficiently manage experience points, user data, and
            much
            more—at lightning-fast speeds and a fraction of the cost. Unlock enhanced control, transparency, and
            integration with a
            public API, Discord bot, and more.</p>
    </section>
    <!-- screenshots -->
    <section class="col-span-12 lg:col-span-4 mb-20">
        <div class="w-full h-96 relative flex justify-center items-center">
            <div class="w-80 h-80 bg-zinc-300 rounded-x1"></div>
        </div>
    </section>
    <!-- cards -->
    <section class="col-span-12 flex justify-center">
        <div class="grid grid-cols-2 gap-4 justify-center">
            <div class="basis-1/4 lg:mb-4">
                <div class="card w-5/6 lg:w-5/5 bg-base-200 shadow-xl hover:bg-base-300 transition duration-300">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-duotone fa-robot"></i>Automation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 lg:mb-4">
                <div class="card w-5/6 lg:w-5/5 bg-base-200 shadow-xl hover:bg-base-300 transition duration-300">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-solid fa-brain-circuit"></i>Speed</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 lg:mb-4">
                <div class="card w-5/6 lg:w-5/5 bg-base-200 shadow-xl hover:bg-base-300 transition duration-300">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-sharp fa-solid fa-shield-quartered"></i>Cost
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
            </div>
            <div class="basis-1/4 lg:mb-4">
                <div class="card w-5/6 lg:w-5/5 bg-base-200 shadow-xl hover:bg-base-300 transition duration-300">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa-sharp fa-solid fa-shield-quartered"></i>Something
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>