<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row items-start justify-start w-full">
        <div class="lg:w-1/2 w-full">
            <h1 class="text-6xl font-bold">Harbinger</h1>
            <p class="py-6">
                A powerful, open-source tool for ROBLOX group owners to efficiently manage experience points, user data,
                and much more—at lightning-fast speeds and a fraction of the cost. Unlock enhanced control,
                transparency, and integration with a public API, Discord bot, and more.
            </p>
            <button class="btn btn-primary">Sign me up!</button>
        </div>
        <div class="lg:w-1/2 w-full flex justify-center">
            <iframe class="w-full lg:w-4/4 h-64 lg:h-96"
                src="https://www.youtube.com/embed/B9synWjqBn8?si=9vJund9Z16sSxRf0" title="Prelaunch Video"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</div>