<div class="grid grid-cols-4 grid-rows-4 gap-10 p-6">
    <div class="col-span-4">
        <div class="card w-full h-full bg-[#ffffff] text-primary-content flex-grow">
            <div class="card-body">
                <h2 class="card-title text-2xl"><i class="fa-duotone fa-users"></i>ROBLOX Verification</h2>
                <p>
                    Click bleow to securely authorize your account through Harbinger's trusted integration with ROBLOX's OAuth2 endpoint!
                </p>
                <button (click)="authorize()" class="btn btn-outline text-black text-2xl">Verify with ROBLOX</button>
            </div>
        </div>
    </div>
    <div class="col-span-4 row-span-3 row-start-2">
        <div class="col-span-4">
            <div class="card w-full h-full bg-[#ffffff] text-primary-content flex-grow">
                <div class="card-body">
                    <h2 class="card-title text-2xl"><i class="fa-duotone fa-badge-check"></i>Accounts</h2>
                    <div class="grid grid-cols-4 grid-rows-3 gap-4">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div class="row-start-2">5</div>
                        <div class="row-start-2">6</div>
                        <div class="row-start-2">7</div>
                        <div class="row-start-2">8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>