<div class="grid grid-cols-3 grid-rows-3 gap-10 p-6">
    <div class="col-span-3">
        <div class="card w-full h-full bg-[#ffffff] text-primary-content flex-grow">
            <div class="card-body">
                <h2 class="card-title text-2xl"><i class="fa-duotone fa-record-vinyl fa-beat-fade fa-duotone"
                        style="--fa-primary-color: rgb(213, 47, 47);"></i>Live news</h2>
                <div class="grid grid-cols-4 grid-rows-2 gap-4">
                    <div>
                        <div class="card bg-[#5D5DE9] bg-opacity-[30%] text-primary-content flex-grow">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <div class="w-16">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/CNN.svg/1200px-CNN.svg.png" />
                                    </div>
                                    CNN
                                </h2>
                                <p>STUFF</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-start-2">
                        <div class="card bg-[#5D5DE9] bg-opacity-[30%] text-primary-content flex-grow">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <div class="w-16">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/CNN.svg/1200px-CNN.svg.png" />
                                    </div>
                                    CNN
                                </h2>
                                <p>STUFF</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>